my-workflow-3-.json
{
  "createdAt": "2025-08-14T15:41:05.684Z",
  "updatedAt": "2025-08-14T15:41:05.000Z",
  "id": "ge5VWCbHsVANjCeb",
  "name": "My workflow 3",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "84b99575-a339-428f-999d-c552c643e413",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        440,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b5e57a6d-8095-475e-9d6f-73f4624e7845",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        920,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "NNYfdCrfbOEetoLa",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "0159e58b-faf7-413b-9ffe-699e3b5a0d07",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        760,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "organization",
        "owner": {
          "__rl": true,
          "value": "praj-iv-007",
          "mode": "name"
        }
      },
      "id": "fd8e803b-595f-43f5-a903-a0a839430d88",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        600,
        0
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "EkeB7GcZDlm1B1YL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "praj-iv-007",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "orbit-n8n-automations",
          "mode": "list",
          "cachedResultName": "orbit-n8n-automations",
          "cachedResultUrl": "https://github.com/praj-iv-007/orbit-n8n-automations"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "f21c8871-5652-4f84-86aa-7c43d5ec6dea",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1780,
        -80
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "EkeB7GcZDlm1B1YL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "praj-iv-007",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "orbit-n8n-automations",
          "mode": "list",
          "cachedResultName": "orbit-n8n-automations",
          "cachedResultUrl": "https://github.com/praj-iv-007/orbit-n8n-automations"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "3d0bbb3b-47f1-4919-a7fa-759f61573bf9",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1780,
        80
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "EkeB7GcZDlm1B1YL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "94d3816f-8c94-43dc-9639-5a743b9195d6",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1620,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "ccd1b7e9-840b-4acb-885e-f19ba1c99e5a",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1080,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "94851af1-efce-44a4-bee2-0c6d559514a2",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1240,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "fd52677c-2bf7-4d51-8289-371aa03e6984",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "1e92022b-f597-46a3-ac36-17a15d80c29e",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "5b0e250b-672e-48c9-8fd5-9e9c0d419b64",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 560,
        "color": 4
      },
      "id": "aff4f8f6-bcfb-40d9-93ea-1134f8e652d3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        -140
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75dea8b9-6893-4126-b131-f5a0f533af79",
  "triggerCount": 0,
  "tags": []
}