pinecone-test-.json
{
  "createdAt": "2025-07-31T14:56:25.086Z",
  "updatedAt": "2025-08-05T19:30:32.000Z",
  "id": "Eed11TBZRK3dhTuv",
  "name": "Pinecone Test",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        -320
      ],
      "id": "16b589dc-69d2-464f-9b1a-390e494565e5",
      "name": "When chat message received",
      "webhookId": "8020882c-8c04-45fa-822f-6d73d3ac0f97"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "orbit-test",
          "mode": "list",
          "cachedResultName": "orbit-test"
        },
        "options": {
          "pineconeNamespace": "nfl"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        700,
        80
      ],
      "id": "553df560-17de-432a-8673-306d94cf69d6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XvgTWkynUOjsJJpB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You're an expert on sports knowledge, however you're only allowed to use the knowledge that presently available to you in the pinecone data store, no looking at other external sources for information because we've updated the rules to how we play the sports which is different from how they are conventionally played."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        40,
        -360
      ],
      "id": "0a0063ac-06ab-4c6f-a810-0b54a4727699",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1vKPPc_OlW-aVJJLEasGTJngs9uBYmjAj",
            "mode": "list",
            "cachedResultName": "ORbit",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1vKPPc_OlW-aVJJLEasGTJngs9uBYmjAj"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        60
      ],
      "id": "c0373e23-3481-44b0-80ca-f2dee525f703",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gPcbJuCk3jXwV4c4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        60
      ],
      "id": "be945d1f-4825-4712-8a3e-d304114f97da",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        60
      ],
      "id": "27f4a3da-9b92-4ef0-9c6b-c3c9856add23",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gPcbJuCk3jXwV4c4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "id": "025116d7-89ae-4e85-ac73-4a7a554165f9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        460
      ],
      "id": "0f59fab3-90e3-4681-99d9-91378c097864",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        380,
        60
      ],
      "id": "cff85031-e420-4f79-8f99-e47a1b2919dd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -80,
        -160
      ],
      "id": "36227105-694e-4f87-9b15-8a159a142ce3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "eT6fwac9owUGAq1q",
          "name": "om-anthropickey"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        -120
      ],
      "id": "92fe2e28-15cc-46cf-9e53-f0cfb161986a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "orbit_knowledge",
        "toolDescription": "Get sports rules from the vector database store",
        "pineconeIndex": {
          "__rl": true,
          "value": "orbit-test",
          "mode": "list",
          "cachedResultName": "orbit-test"
        },
        "options": {
          "pineconeNamespace": "game-rules"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        260,
        -160
      ],
      "id": "95fb913d-f5c5-4f00-817f-e0245a56ffeb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XvgTWkynUOjsJJpB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        340
      ],
      "id": "efff2185-dd1a-4b23-a130-2afbe91adf9f",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "fX0bgKcz3tk07KNp",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "444d0dd0-1ecd-43a8-b69b-cbee4791bf37",
  "triggerCount": 0,
  "tags": []
}